.cfg
.config/pulse
.config/user-dirs.dirs
.config/user-dirs.locale
.config/chromium
.config/bluetuith
.config/gh
.config/cef_user_data 
.config/transmission-daemon/resume
.config/transmission-daemon/torrents
