configuration {
    font:                           "JetBrains Mono";
}

* {
    background-color:               transparent;
    background:                     #0a101f;
    background-transparent:         #0a101fD9;
    /* background-transparent:         #0a101f; */
    text-color:                     #ebe3da;
    primary:                        #595854;
    secondary:                      #9C674F;
    urgent:                         #BF616A;
}
