configuration {
    font:                           "JetBrains Mono";
}

* {
    background-color:               transparent;
    background:                     #1f1e24;
    background-transparent:         #1f1e24D9;
    /* background-transparent:         #1f1e24; */
    text-color:                     #ead2c7;
    primary:                        #605868;
    secondary:                      #A53A53;
    urgent:                         #BF616A;
}
