configuration {
    font:                           "JetBrains Mono";
}

* {
    background-color:               transparent;
    background:                     #0d101d;
    background-transparent:         #0d101dD9;
    /* background-transparent:         #0d101d; */
    text-color:                     #a2a8bd;
    primary:                        #3A435B;
    secondary:                      #344471;
    urgent:                         #BF616A;
}
